:root {
    --primary-color: #FF9614;
    --secondary-color-dark: #4E3969;
    --bg-primary-color: #F6F5F3;
    --bg-secondary-color: #7C69A4;

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Utilities */
.container {
    max-width: 768px;
    width: 90%;
    margin: 0 auto;
}

.row {
    flex-wrap: wrap;
    align-items: stretch;
}

.col {
    flex-basis: auto;
}

.col-sm-1 {
    width: calc(100% / 12 * 1);
}

.col-sm-2 {
    width: calc(100% / 12 * 2);
}

.col-sm-3 {
    width: calc(100% / 12 * 3);
}

.col-sm-4 {
    width: calc(100% / 12 * 4);
}

.col-sm-5 {
    width: calc(100% / 12 * 5);
}

.col-sm-6 {
    width: calc(100% / 12 * 6);
}

.col-sm-7 {
    width: calc(100% / 12 * 7);
}

.col-sm-8 {
    width: calc(100% / 12 * 8);
}

.col-sm-9 {
    width: calc(100% / 12 * 9);
}

.col-sm-10 {
    width: calc(100% / 12 * 10);
}

.col-sm-11 {
    width: calc(100% / 12 * 11);
}

.col-sm-12 {
    width: calc(100% / 12 * 12);
}

.d-flex {
    display: flex;
}

/* Generics */
body {
    font-family: "Montserrat", sans-serif;
    background-color: var(--bg-primary-color);
}

img {
    max-width: 100%;
}

/* Header */
.main-header {
    padding: 0.5rem 1rem;
    justify-content: center;
    color: #FF9614;
    background-color: white;
    font-family: "Nerko One", cursive;

    span {
        font-size: 3rem;
        text-shadow: 2px 2px rgba(128, 128, 128, 0.5);
    }
}

/* Title Section */
.title-section {
    padding: 1.2rem 0;

    .container {
        flex-direction: column;
        gap: 0.5rem;

        .category {
            font-family: "Montserrat", sans-serif;
            color: rgba(128, 128, 128, 0.5);
            font-size: 0.9rem;
        }

        span {
            display: block;
        }

        .title {
            font-size: 1.5rem;
            font-weight: 800;
            color: var(--secondary-color-dark);
        }

        .secondary {
            display: none;
        }
    }
}

/* Card Section */
.card {
    .container {
        box-shadow: 10px 10px 40px lightgray;
        background-color: white;

        .card-header {
            img {
                width: 100%;
            }
        }

        .card-body {
            padding: 1.3rem;
            font-size: 0.8rem;

            h2 {
                margin-bottom: 1rem;
            }

            .row {
                gap: 1rem 0;
            }
        }
    }
}

/* Socials Section */
.socials-section {
    padding: 2rem 0;

    .container {
        justify-content: space-between;

        .social-container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            font-size: 1.2rem;
            width: 3rem;
            height: 3rem;
            background-color: white;
            border-radius: 50%;

            .social-name {
                display: none;
                font-weight: 700;
            }
        }
    }
}

/* Banner Section */
.banner-section {
    display: none;
    padding-bottom: 2rem;

    img {
        width: 100%;
    }
}

/* Presentation Section */
.presentation-section {
    padding-bottom: 3rem;

    h2 {
        font-weight: 500;
        padding-bottom: 0.5rem;
    }

    hr {
        width: 4rem;
        height: 2px;
        background-color: var(--primary-color);
        border: none;
        margin-bottom: 1.4rem;
    }

    p {
        line-height: 1.7rem;

        img {
            float: left;
            scale: 0.8;
            margin-bottom: 1rem;
            box-shadow: 2px 2px 10px rgba(128, 128, 128, 0.6);
        }
    }
}

/* Footer */
.main-footer {
    background-color: var(--bg-secondary-color);
    color: white;
    padding: 1.5rem 0;

    .footer-top {
        flex-direction: column;
        align-items: center;
        gap: 10px;
        font-size: 0.9rem;
        margin-bottom: 1rem;

        h3 {
            font-size: 0.9rem;
            font-weight: 600;
        }

        span {
            text-align: center;
        }
    }

    .footer-bottom {
        justify-content: center;

        .row {
            justify-content: center;
            gap: 10px 20px;

            a {
                font-size: 0.9rem;
                color: white;
            }
        }
    }
}




/* Responsive Rules */
@media screen and (min-width: 768px) {
    .col-md-1 {
        width: calc(100% / 12 * 1);
    }

    .col-md-2 {
        width: calc(100% / 12 * 2);
    }

    .col-md-3 {
        width: calc(100% / 12 * 3);
    }

    .col-md-4 {
        width: calc(100% / 12 * 4);
    }

    .col-md-5 {
        width: calc(100% / 12 * 5);
    }

    .col-md-6 {
        width: calc(100% / 12 * 6);
    }

    .col-md-7 {
        width: calc(100% / 12 * 7);
    }

    .col-md-8 {
        width: calc(100% / 12 * 8);
    }

    .col-md-9 {
        width: calc(100% / 12 * 9);
    }

    .col-md-10 {
        width: calc(100% / 12 * 10);
    }

    .col-md-11 {
        width: calc(100% / 12 * 11);
    }

    .col-md-12 {
        width: calc(100% / 12 * 12);
    }

    .container {
        max-width: 768px;
    }

    .main-header {
        justify-content: flex-start;
    }

    .title-section {
        .container {
            .title {
                font-size: 1.8rem;
            }

            .secondary {
                display: block;
            }
        }
    }

    .socials-section {
        .container {
            .social-container {
                width: 6rem;
                height: 3rem;
                border-radius: 30px;
            }
        }
    }

    .banner-section {
        display: block;
    }

    .presentation-section {
        p {
            img {
                scale: 1;
                margin-top: 10px;
                margin-right: 20px;
            }
        }
    }

}

@media screen and (min-width: 992px) {
    .col-lg-1 {
        width: calc(100% / 12 * 1);
    }

    .col-lg-2 {
        width: calc(100% / 12 * 2);
    }

    .col-lg-3 {
        width: calc(100% / 12 * 3);
    }

    .col-lg-4 {
        width: calc(100% / 12 * 4);
    }

    .col-lg-5 {
        width: calc(100% / 12 * 5);
    }

    .col-lg-6 {
        width: calc(100% / 12 * 6);
    }

    .col-lg-7 {
        width: calc(100% / 12 * 7);
    }

    .col-lg-8 {
        width: calc(100% / 12 * 8);
    }

    .col-lg-9 {
        width: calc(100% / 12 * 9);
    }

    .col-lg-10 {
        width: calc(100% / 12 * 10);
    }

    .col-lg-11 {
        width: calc(100% / 12 * 11);
    }

    .col-lg-12 {
        width: calc(100% / 12 * 12);
    }

    .container {
        max-width: 1200px;
    }

    .socials-section {
        .container {
            .social-container {
                width: auto;
                padding: 0 1rem;
                height: 3rem;
                border-radius: 30px;

                .social-name {
                    display: inline;
                }
            }
        }
    }

    .main-footer {
        .container {
            max-width: 100%;

            .footer-top {
                align-items: flex-start;
                margin-bottom: 0;
            }

            .footer-bottom {
                justify-content: flex-end;
                align-items: center;

                .row {
                    justify-content: flex-end;
                }
            }
        }
    }




}